* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('regbg.jpg');
}
.wrapper {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.wrapper h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: rgb(72, 109, 77);
}
.wrapper form{
    margin-top: 30px;
}
.wrapper form .input-box{
    height: 50px;
    margin: 15px 0;
}
form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: rgb(139, 204, 149);
}
form .term {
    display: flex;
    align-items: center;
}
form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: rgb(139, 204, 149);
    cursor: pointer;
}
.input-box.button input:hover{
    background: rgb(72, 109, 77);
}
form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 a{
    color:rgb(0, 97, 6);
    text-decoration: none;
}
form .text h3 a:hover{
    text-decoration: underline;
}
.logo {
    position: absolute;
    top: 1px;
    left: 1px;
}